<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <security-constraint>
        <display-name>WebServiceSecurity</display-name>

        <web-resource-collection>
            <web-resource-name>Authorized users only</web-resource-name>
            <url-pattern>/ExampleWSService</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>

<!--        <auth-constraint>-->
<!--            <role-name>user</role-name>-->
<!--        </auth-constraint>-->

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>

    </security-constraint>

<!--    &lt;!&ndash; BASIC authorization &ndash;&gt;-->
<!--    <login-config>-->
<!--        <auth-method>BASIC</auth-method>-->
<!--    </login-config>-->

<!--    &lt;!&ndash; Definition of role &ndash;&gt;-->
<!--    <security-role>-->
<!--        <role-name>user</role-name>-->
<!--    </security-role>-->

</web-app>